@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "JetBrainsMono";
  font-style: normal;
  font-weight: 100 900;
  src: url("/fonts/JetBrainsMono[wght].ttf") format("truetype");
}

@font-face {
  font-family: "JetBrainsMono";
  font-style: italic;
  font-weight: 100 900;
  src: url("/fonts/JetBrainsMono-Italic[wght].ttf") format("truetype");
}

.jetbrains-mono {
  font-family: "JetBrainsMono", monospace;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "JetBrainsMono", monospace;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  /* after holiday promotion, this can be swapped back */
  scroll-padding-top: 180px;
  /* scroll-padding-top: 125px; */
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100vh;
  width: 100vw;
  background-color: #f3f3f3;
  background-image: radial-gradient(#ccc 1px, transparent 1px);
  background-size: 10px 10px;
  padding: 15px;
}

@media (max-width: 767px) {
  #root {
    padding: 5px;
  }
}

#root {
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.status-thinking {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
