body {
  font-family: var(--sl-font-sans, sans-serif);
  padding: 1em;
}

* {
  box-sizing: border-box;
}

sl-textarea {
  min-height: 360px;
  flex: 1;
}
sl-textarea::part(textarea) {
  font-family: var(--sl-font-mono, mono);
  font-size: 0.85rem;
}

sl-input {
  flex: 1;
}

#specifier {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
  gap: 1em;
  margin-right: 1em;
}

#code {
  display: flex;
  flex-direction: row;
  gap: 1em;
}