# /etc/systemd/system/toolshed@.service
[Unit]
Description=Toolshed Deno Service instance on port %I
After=network.target

[Service]
User=jake
WorkingDirectory=/home/jake/labs/toolshed
EnvironmentFile=/home/jake/labs/toolshed/.env
Environment="PORT=%I"
ExecStart=/bin/sh -c "/home/jake/.deno/bin/deno task production"
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target