[cmdk-dialog] {
  max-width: 640px;
  width: 100%;
  background: white;
  border: 2px solid black;
  padding: calc(var(--spacing) * 2);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

[cmdk-overlay] {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: 99;
}

[cmdk-input] {
  width: 100%;
  padding: calc(var(--spacing) * 1);
  font-size: 16px;
  margin-bottom: calc(var(--spacing) * 1);
  outline: none;
}

[cmdk-list] {
  max-height: 400px;
  overflow: auto;
}

[cmdk-group-heading] {
  color: #666;
  font-size: 12px;
  padding: calc(var(--spacing) * 1);
  text-transform: uppercase;
  font-weight: 600;
}

[cmdk-item] {
  padding: calc(var(--spacing) * 1);
  cursor: pointer;
}

[cmdk-item][data-selected="true"] {
  background: #eee;
}
